@import url(node_modules/normalize.css/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Skranji:wght@400;700&display=swap');

*::before,
*::after,
:root {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Skranji", sans-serif;
  text-shadow: 0px 0px 8px lightgray;
}

p {
  margin: 0px;
}

button {
  box-shadow: 2px 2px 8px lightgray;
  cursor: pointer;
}

body {
  background-color: #e0e2d0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #eeefe7fe;
  box-shadow: 4px 4px 4px lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  font-weight: 700;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
}

main > button {
  padding: 16px;
  border: none;
  border-radius: 25px;
  font-size: 25px;
  background-color: #eeefe7fe;
}

#show-dialog {
  margin: 25px 0px;
}

article {
  width: 80%;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  gap: 50px;
}

article div {
  width: 100%;
  padding: 25px 0px;
  background-color: #eeefe7fe;
  border-radius: 25px;
  box-shadow: 2px 2px 8px lightgray;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

article div * {
  width: 80%;
  text-align: center;
}

article div button {
  border: none;
  border-radius: 25px;
  padding: 8px;
}

article div button:first-of-type {
  background-color: #eeefe7fe;
}

article div button.read-btn {
  background-color: #e0e2d0;
}

article div button:last-of-type {
  background-color: #D5C7BC;
}

dialog {
  border: none;
  border-radius: 25px;
  background-color: #f7f8f1fe;
}

form ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 0px;
}

form ul li {
  display: flex;
  gap: 8px;
}

form ul li input[type] {
  border: none;
  border-radius: 16px;
  padding: 8px;
}

form ul li button {
  border: none;
  border-radius: 16px;
  padding: 16px;
  width: 100px;
}

h2 {
  margin: 0px;
}

footer {
  display: flex;
  justify-content: center;
  font-weight: 400;
  padding-bottom: 16px;
}